<div class="author">
	{{#primary_author}}
	<div class="avatar"><img src="{{profile_image}}" /></div>
	<div class="name">{{name}}</div>
	<div class="bio">{{bio}}</div>
	<div class="location">{{location}}</div>
	<div class="social">
		{{#if website}}<a href="{{website}}"><i class="fa-solid fa-link"></i></a>{{/if}}
		{{#if facebook}}<a href="https://facebook.com/{{facebook}}"><i class="fa-brands fa-facebook"></i></a>{{/if}}
		{{#if twitter}}<a href="https://twitter.com/{{twitter}}"><i class="fa-brands fa-twitter"></i></a>{{/if}}
	</div>
	{{/primary_author}}
</div>