<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{meta_title}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic|Grand+Hotel' rel='stylesheet' type='text/css'>
	<style>:root { --main-color: {{@site.accent_color}}; }</style>
    <link rel="stylesheet" href="{{asset "css/gicko.css"}}">
    {{ghost_head}}
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" style="background-image:url({{@site.cover_image}})">
			<div class="sidebar-inner">
				{{#if @site.logo}}
				<img src="{{@site.logo}}" alt="{{@site.title}} logo" class="logo">
				{{else}}
				<div class="title"><a href="{{@site.url}}">{{@site.title}}</a></div>
				{{/if}}
				{{> aside}}
				<div class="menu">
					{{navigation}}
				</div>
				<div class="footer">
					gicko theme by <a href="https://github.com/guaricema">@guaricema</a>
				</div>
			</div>
		</div>
		<div class="content">
			{{{body}}}
		</div>
	</div>
	{{ghost_foot}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>