{{!< default}}
{{#foreach posts}}
	<div class="post">
		<header>
			<h1 class="title"><a href="{{url}}" title="{{title}}">{{#if featured}}<i class="icon-star"></i> {{/if}}{{title}}</a></h1>
			{{> postmeta}}
		</header>
		<div>{{excerpt}}&hellip;</div>
		<div class="readmore"><a href="{{url}}" class="button">Read more &rarr;</a></div>
	</div>
{{/foreach}}
{{pagination}}